<header class="dashboard-header">
  <h1>SAD: SISTEMA NC QUALITY</h1>
  <div class="user-info">
    <div class="user-row">
      <span class="user-icon"><i class="fas fa-user-circle"></i></span>
      <span class="user-name">{{
        user?.nombre || user?.username || "Washington Edgar Condori"
      }}</span>
      <span class="user-dropdown"><i class="fas fa-caret-down"></i></span>
    </div>
    <div class="user-actions">
      <button>Cambiar Clave</button>
      <button (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</header>
<section class="main__breadcrumb">
  <button class="menu-hamburger" *ngIf="!menuActivo" (click)="onMostrarMenu()">
    <img src="~/../assets/images/icono-breadcrumb-nav.svg" alt="Icono" />
  </button>
  <h6 class="breadcrumb-title fw-bold mb-0">{{titulo}}</h6>
</section>
